<div class="show-box">
  <div class="show-item">
    <span>Title: </span><%= @book.title %>
  </div>
  <div class="show-item">
    <span>Body: </span><%= @book.body %>
  </div>
  <div class="show-actions">
    <%= link_to "Edit", edit_book_path(@book.id) %>
    |
    <%= link_to "Back", "/books" %>
  </div>
</div>
